# Application
DEBUG=true
MASTER_ADMIN_USERNAME=
MASTER_ADMIN_PASSWORD=

# database
DATABASE_URL=postgresql+asyncpg://miles:me@localhost:5432/inven
DATABASE_URL_SYNC=postgresql+psycopg://miles:me@localhost:5432/inven

# security
JWT_SECRET_KEY=your-secret-key
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7
JWT_ALGORITHM=HS256

# bot settings
BOT_TOKEN=
